<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.denskop.Injector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Injector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>Machines</key>
			<dict>
				<key>iMac10,1</key>
				<dict>
					<key>GFX0</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>0</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
					</dict>
					<key>LogControl</key>
					<integer>0</integer>
					<key>default-control-id</key>
					<integer>17</integer>
				</dict>
			</dict>
		</dict>
		<key>ICH9RAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH9-R AHCI</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29228086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH9RIDE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelPIIXATA</string>
			<key>Controller Name</key>
			<string>ICH9 SATA</string>
			<key>IOClass</key>
			<string>AppleIntelPIIXATARoot</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29278086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>PCS Port Map</key>
			<data>kgGTAZICkwKSBJMEkgiTCA==</data>
			<key>Serial ATA</key>
			<true/>
			<key>Supported Transfer Modes</key>
			<string>0x3f061d</string>
		</dict>
		<key>SSD TRIM Enabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAHCIBlockStorage</string>
			<key>Force Data Set Management</key>
			<true/>
			<key>IOClass</key>
			<string>AppleAHCIDiskDriver</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOAHCIDevice</string>
		</dict>
		<key>iMac10,1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>AppleBusPowerController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>1000</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>3000</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>1500</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>3700</integer>
			</dict>
			<key>model</key>
			<string>iMac10,1</string>
		</dict>
		<key>iMac10,1-EHC1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>EHC1</string>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>BgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac10,1</string>
		</dict>
		<key>iMac10,1-EHC2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>EHC2</string>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>BAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac10,1</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Mr.Dee</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
