<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.denskop.Injector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Injector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>Machines</key>
			<dict>
				<key>iMac10,1</key>
				<dict>
					<key>LogControl</key>
					<integer>0</integer>
					<key>default-control-id</key>
					<integer>18</integer>
				</dict>
				<key>iMac13,2</key>
				<dict>
					<key>LogControl</key>
					<integer>0</integer>
					<key>default-control-id</key>
					<integer>18</integer>
				</dict>
			</dict>
		</dict>
		<key>ICH9RAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH9-R AHCI</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29228086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH9RAHCI_V2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH9-R AHCI</string>
			<key>IOClass</key>
			<string>AppleICH9AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29228086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH9RRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH9-R RAID</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x28228086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH9RIDE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelPIIXATA</string>
			<key>Controller Name</key>
			<string>ICH9 SATA</string>
			<key>IOClass</key>
			<string>AppleIntelPIIXATARoot</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29208086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>PCS Port Map</key>
			<data>kgGTAZICkwKSBJMEkgiTCA==</data>
			<key>Serial ATA</key>
			<true/>
			<key>Supported Transfer Modes</key>
			<string>0x3f061d</string>
		</dict>
		<key>ICH9RIDE2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelPIIXATA</string>
			<key>Controller Name</key>
			<string>ICH9 SATA</string>
			<key>IOClass</key>
			<string>AppleIntelPIIXATARoot</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29268086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>PCS Port Map</key>
			<data>kgGTAZICkwKSBJMEkgiTCA==</data>
			<key>Serial ATA</key>
			<true/>
			<key>Supported Transfer Modes</key>
			<string>0x3f061d</string>
		</dict>
		<key>ICH9RIDE3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelPIIXATA</string>
			<key>Controller Name</key>
			<string>ICH9 SATA</string>
			<key>IOClass</key>
			<string>AppleIntelPIIXATARoot</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29b68086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>PCS Port Map</key>
			<data>kgGTAZICkwKSBJMEkgiTCA==</data>
			<key>Serial ATA</key>
			<true/>
			<key>Supported Transfer Modes</key>
			<string>0x3f061d</string>
		</dict>
		<key>CPU Settings</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQ
			TElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFRE
			cy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9u
			PSIxLjAiPgo8ZGljdD4KCTxrZXk+SU9QbGF0Zm9ybVRoZXJtYWxQ
			cm9maWxlPC9rZXk+Cgk8ZGljdD4KCQk8a2V5PkNvbmZpZ0FycmF5
			PC9rZXk+CgkJPGFycmF5PgoJCQk8ZGljdD4KCQkJCTxrZXk+Tm9T
			TEZNPC9rZXk+CgkJCQk8dHJ1ZS8+CgkJCQk8a2V5Pm1vZGVsPC9r
			ZXk+CgkJCQk8c3RyaW5nPmlNYWMxMCwxPC9zdHJpbmc+CgkJCQk8
			a2V5PnJlc3RhcnQtYWN0aW9uczwva2V5PgoJCQkJPGRpY3Q+CgkJ
			CQkJPGtleT5jcHUtcC1zdGF0ZTwva2V5PgoJCQkJCTxpbnRlZ2Vy
			PjA8L2ludGVnZXI+CgkJCQk8L2RpY3Q+CgkJCTwvZGljdD4KCQk8
			L2FycmF5PgoJCTxrZXk+Q29udHJvbEFycmF5PC9rZXk+CgkJPGFy
			cmF5PgoJCQk8ZGljdD4KCQkJCTxrZXk+RGVzYy1LZXk8L2tleT4K
			CQkJCTxzdHJpbmc+Q1BVX1BMSU1JVDwvc3RyaW5nPgoJCQkJPGtl
			eT5JT0NsYXNzPC9rZXk+CgkJCQk8c3RyaW5nPkFwcGxlU01DQ29u
			dHJvbDwvc3RyaW5nPgoJCQkJPGtleT5jb250cm9sLWZsYWdzPC9r
			ZXk+CgkJCQk8aW50ZWdlcj4yPC9pbnRlZ2VyPgoJCQkJPGtleT5j
			b250cm9sLWlkPC9rZXk+CgkJCQk8aW50ZWdlcj4xMDwvaW50ZWdl
			cj4KCQkJCTxrZXk+bG9jYXRpb248L2tleT4KCQkJCTxzdHJpbmc+
			Y3B1IHBsaW1pdDwvc3RyaW5nPgoJCQkJPGtleT50eXBlPC9rZXk+
			CgkJCQk8c3RyaW5nPnNtYzwvc3RyaW5nPgoJCQk8L2RpY3Q+CgkJ
			CTxkaWN0PgoJCQkJPGtleT5EZXNjLUtleTwva2V5PgoJCQkJPHN0
			cmluZz5DUFVfU1RBVEU8L3N0cmluZz4KCQkJCTxrZXk+SU9DbGFz
			czwva2V5PgoJCQkJPHN0cmluZz5BcHBsZVNNQ0NvbnRyb2w8L3N0
			cmluZz4KCQkJCTxrZXk+Y29udHJvbC1mbGFnczwva2V5PgoJCQkJ
			PGludGVnZXI+MjwvaW50ZWdlcj4KCQkJCTxrZXk+Y29udHJvbC1p
			ZDwva2V5PgoJCQkJPGludGVnZXI+MTM8L2ludGVnZXI+CgkJCQk8
			a2V5PmxvY2F0aW9uPC9rZXk+CgkJCQk8c3RyaW5nPmNwdSBzdGF0
			ZTwvc3RyaW5nPgoJCQkJPGtleT50eXBlPC9rZXk+CgkJCQk8c3Ry
			aW5nPnNtYzwvc3RyaW5nPgoJCQk8L2RpY3Q+CgkJCTxkaWN0PgoJ
			CQkJPGtleT5EZXNjLUtleTwva2V5PgoJCQkJPHN0cmluZz5HUFVf
			UkFOR0VfQ09OVFJPTF9QQ0k8L3N0cmluZz4KCQkJCTxrZXk+SU9D
			bGFzczwva2V5PgoJCQkJPHN0cmluZz5JT1BsYXRmb3JtQ29udHJv
			bDwvc3RyaW5nPgoJCQkJPGtleT5jb250cm9sLWZsYWdzPC9rZXk+
			CgkJCQk8aW50ZWdlcj4yPC9pbnRlZ2VyPgoJCQkJPGtleT5jb250
			cm9sLWlkPC9rZXk+CgkJCQk8aW50ZWdlcj4xODwvaW50ZWdlcj4K
			CQkJCTxrZXk+bG9jYXRpb248L2tleT4KCQkJCTxzdHJpbmc+Z3B1
			LXBjaTwvc3RyaW5nPgoJCQkJPGtleT50eXBlPC9rZXk+CgkJCQk8
			c3RyaW5nPmdwdS1jb250cm9sPC9zdHJpbmc+CgkJCTwvZGljdD4K
			CQk8L2FycmF5PgoJCTxrZXk+Q3JlYXRpb25EYXRlPC9rZXk+CgkJ
			PHN0cmluZz5UdWUgTWF5IDEyIDE1OjM1OjQyIFBEVCAyMDA5PC9z
			dHJpbmc+CgkJPGtleT5DdHJsTG9vcEFycmF5PC9rZXk+CgkJPGFy
			cmF5PgoJCQk8ZGljdD4KCQkJCTxrZXk+RGVzY3JpcHRpb248L2tl
			eT4KCQkJCTxzdHJpbmc+U01DX0NQVV9Db250cm9sX0xvb3A8L3N0
			cmluZz4KCQkJCTxrZXk+SU9DbGFzczwva2V5PgoJCQkJPHN0cmlu
			Zz5BQ1BJX1NNQ19DdHJsTG9vcDwvc3RyaW5nPgoJCQkJPGtleT5N
			ZXRhU3RhdGVBcnJheTwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxk
			aWN0PgoJCQkJCQk8a2V5PkRlc2NyaXB0aW9uPC9rZXk+CgkJCQkJ
			CTxzdHJpbmc+Tm9ybWFsPC9zdHJpbmc+CgkJCQkJPC9kaWN0PgoJ
			CQkJCTxkaWN0PgoJCQkJCQk8a2V5PkRlc2NyaXB0aW9uPC9rZXk+
			CgkJCQkJCTxzdHJpbmc+UmVkdWNlZCBQb3dlcjwvc3RyaW5nPgoJ
			CQkJCTwvZGljdD4KCQkJCQk8ZGljdD4KCQkJCQkJPGtleT5EZXNj
			cmlwdGlvbjwva2V5PgoJCQkJCQk8c3RyaW5nPlVzZXIgTG93IFBv
			d2VyPC9zdHJpbmc+CgkJCQkJPC9kaWN0PgoJCQkJCTxkaWN0PgoJ
			CQkJCQk8a2V5PkRlc2NyaXB0aW9uPC9rZXk+CgkJCQkJCTxzdHJp
			bmc+VXNlciBIaWdoIFBvd2VyPC9zdHJpbmc+CgkJCQkJPC9kaWN0
			PgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+UExpbWl0Q2xhc3M8L2tl
			eT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPkNQVTwvc3RyaW5n
			PgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+UExpbWl0RGljdDwva2V5
			PgoJCQkJPGRpY3Q+CgkJCQkJPGtleT5pTWFjMTAsMTwva2V5PgoJ
			CQkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8L2RpY3Q+CgkJ
			CQk8a2V5PlN0ZXBEYXRhRGljdDwva2V5PgoJCQkJPGRpY3Q+CgkJ
			CQkJPGtleT5TUDE8L2tleT4KCQkJCQk8ZGF0YT4KCQkJCQl4Z1lB
			QUFBQUFRSUVBQUFDQWdBQVZRQnVBSE1BY0FCbEFHTUEKCQkJCQlh
			UUJtQUdrQVpRQmtEQUFIL3djQUFDRUFBQUFDQUFBQi8vOEEKCQkJ
			CQkvd0QvQVA4QS93RC9BQVlBQVA4QkFBUC9BQXNQQUFEL0FRQUQK
			CQkJCQkvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFB
			RC8KCQkJCQlBUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQ
			L0FBc1AKCQkJCQlBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhB
			QVA4QkFBUC8KCQkJCQlBQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFB
			LzhBQ3c4QUFQOEIKCQkJCQlBQVAvQUFzUEFBRC9BUUFEL3dBTER3
			QUEvd0VBQS84QUN3OEEKCQkJCQlBUDhCQUFQL0FBc1BBQUQvQVFB
			RC93QUxEd0FBL3dFQUEvOEEKCQkJCQlDdzhBQVA4QkFBUC9BQXNQ
			QUFEL0FRQUQvd0FMRHdBQS93RUEKCQkJCQlBLzhBQ3c4QUFQOEJB
			QVAvQUFzUEFBRC9BUUFEL3dBTER3QUEKCQkJCQkvd0VBQS84QUN3
			OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUwKCQkJCQlEd0FBL3dF
			QUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQKCQkJCQkvd0FM
			RHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC8KCQkJCQlB
			UUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1AKCQkJ
			CQlBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC8K
			CQkJCQlBQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQ
			OEIKCQkJCQlBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84
			QUN3OEEKCQkJCQlBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FB
			L3dFQUEvOEEKCQkJCQlDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQv
			d0FMRHdBQS93RUEKCQkJCQlBLzhBQ3c4QUFQOEJBQVAvQUFzUEFB
			RC9BUUFEL3dBTER3QUEKCQkJCQkvd0VBQS84QUN3OEFBUDhCQUFQ
			L0FBc1BBQUQvQVFBRC93QUwKCQkJCQlEd0FBL3dFQUEvOEFDdzhB
			QVA4QkFBUC9BQXNQQUFEL0FRQUQKCQkJCQkvd0FMRHdBQS93RUFB
			LzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC8KCQkJCQlBUUFEL3dBTER3
			QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1AKCQkJCQlBQUQvQVFB
			RC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC8KCQkJCQlBQXNL
			QUFBQkNnQUFBUUFBQUFFQUFBRDFBQUVGQUFBQkFBQUYKCQkJCQkv
			d0FCQUFBQUFRQUFBQUVHQUFBQ0FBQUFCQUVBQUlBQXd3QzMKCQkJ
			CQlBQzRBTkFBTEFBQUFBZ0FBQUFFQUFBQUJBQUFBQWdBQUFBSUMK
			CQkJCQlBQUFDQmdBQUFRQUFBQUVBQUFEMUFBRUZBQUFEQUFBRi93
			QUQKCQkJCQlBZ0FBQXdZQUFBa0FBQUFFQUFBQVRBQUVCUUFBQkFB
			QUJmOEEKCQkJCQlBd0FBQUFFQUFBQUVCQUFBZ0FBQUFBb0tBQUFJ
			QUFBQUJRQUEKCQkJCQlBQWdBQUFBRkFBQUFBd0FBQUFJQUFBQUZC
			Z0FBQndBQUFBRUEKCQkJCQlBQUQxQUFFRkFBQUdBQUFGL3dBREFB
			QUFBd0FBQUFZR0FBQUMKCQkJCQlBQUFBQkFBQUFLQUFEd1VBQUFj
			RUFBQUhBQUFBQXdBQUFBUUEKCQkJCQlBQUFIQmdBQUNBb0FBQU1B
			QUFYL0FBUUNBQUFJQmdBQUFRQUEKCQkJCQlBQUVBQUFEb0FBTUZB
			QUFKQUFBRi93QUZBZ0FBQ1FZQUFBSUEKCQkJCQlBQUFFQUFBQTZB
			QURCUUFBRFFBQUFBb0FBQUFOQUFBQUNnQUEKCQkJCQlBQVVBQUFB
			QkFBQUFDZ1lBQUFjQUFBQUJBQUFBOVFBQkJRQUEKCQkJCQlDd0FB
			QmY4QUJRQUFBQUlBQUFBTEJnQUFBZ0FBQUFRQUFBQ2cKCQkJCQlB
			QThGQUFBTUJBQUFEQUFBQUFVQUFBQURBQUFBREFZQUFBZ0sKCQkJ
			CQlBQUFKQUFBRi93QUdBZ0FBRFFZQUFBRUFBQUFCQUFBQTZBQUQK
			CQkJCQlCUUFBRGdBQUJmOEFCd0lBQUE0R0FBQUNBQUFBQkFBQUFG
			Z0EKCQkJCQlHd1VBQUJJQUFBQVBBQUFBRWdBQUFBOEFBQUFIQUFB
			QUFRQUEKCQkJCQlBQThHQUFBSEFBQUFBUUFBQVBVQUFRVUFBQkFB
			QUFYL0FBY0EKCQkJCQlBQUFDQUFBQUVBWUFBQUlBQUFBRUFBQUFv
			QUFQQlFBQUVRUUEKCQkJCQlBQkVBQUFBSEFBQUFBd0FBQUJFR0FB
			QUlDZ0FBRGdBQUJmOEEKCQkJCQlDQUlBQUJJR0FBQUJBQUFBQVFB
			QUFPZ0FBd1VBQUJNQUFBWC8KCQkJCQlBQWtDQUFBVEJnQUFBZ0FB
			QUFRQUFBRDhBQWdGQUFBWEFBQUEKCQkJCQlGQUFBQUJjQUFBQVVB
			QUFBQ1FBQUFBRUFBQUFVQmdBQUJ3QUEKCQkJCQlBQUVBQUFEMUFB
			RUZBQUFWQUFBRi93QUpBQUFBQWdBQUFCVUcKCQkJCQlBQUFDQUFB
			QUJBQUFBS0FBRHdVQUFCWUVBQUFXQUFBQUNRQUEKCQkJCQlBQU1B
			QUFBV0JnQUFDQW9BQUJNQUFBWC9BQW9DQUFBWEJnQUEKCQkJCQlB
			UUFBQUFFQUFBRG9BQU1GQUFBWUFBQUYvd0FMQWdBQUdBWUEKCQkJ
			CQlBQUlBQUFBRUFBQUFLQUFLQlFBQUhBQUFBQmtBQUFBY0FBQUEK
			CQkJCQlHUUFBQUFzQUFBQUJBQUFBR1FZQUFBY0FBQUFCQUFBQTlR
			QUIKCQkJCQlCUUFBR2dBQUJmOEFDd0FBQUFJQUFBQWFCZ0FBQWdB
			QUFBUUEKCQkJCQlBQUNnQUE4RkFBQWJCQUFBR3dBQUFBc0FBQUFE
			QUFBQUd3WUEKCQkJCQlBQWdLQUFBWUFBQUYvd0FNQWdBQUhBWUFB
			QUVBQUFBQkFBQUEKCQkJCQk5QUFCQlFBQUhRQUFCZjhBRFFJQUFC
			MEdBQUFDQUFBQUJBRUEKCQkJCQlBSUFBd3dDM0FDNEFOQUFMQUFB
			QUhRQUFBQjRBQUFBZEFBQUEKCQkJCQlIZ0FBQUEwQUFBQUJBQUFB
			SGdZQUFBY0FBQUFCQUFBQTlRQUIKCQkJCQlCUUFBSHdBQUJmOEFE
			UUFBQUFJQUFBQWZCZ0FBQWdBQUFBUUEKCQkJCQlBQUNnQUE4RkFB
			QWdCQUFBSUFBQUFBMEFBQUFEQUFBQUlBWUEKCQkJCQlBQWdLQUFB
			ZEFBQUYvdz09CgkJCQkJPC9kYXRhPgoJCQkJCTxrZXk+aU1hYzEw
			LDE8L2tleT4KCQkJCQk8c3RyaW5nPlNQMTwvc3RyaW5nPgoJCQkJ
			PC9kaWN0PgoJCQkJPGtleT5jdHJsbG9vcC1pZDwva2V5PgoJCQkJ
			PGludGVnZXI+MDwvaW50ZWdlcj4KCQkJCTxrZXk+aXMtc3RhdGUt
			ZHJpdmVuPC9rZXk+CgkJCQk8aW50ZWdlcj4xPC9pbnRlZ2VyPgoJ
			CQk8L2RpY3Q+CgkJCTxkaWN0PgoJCQkJPGtleT5Db250cm9sSURB
			cnJheTwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxpbnRlZ2VyPjE2
			PC9pbnRlZ2VyPgoJCQkJCTxpbnRlZ2VyPjE3PC9pbnRlZ2VyPgoJ
			CQkJCTxpbnRlZ2VyPjE4PC9pbnRlZ2VyPgoJCQkJPC9hcnJheT4K
			CQkJCTxrZXk+RGVzY3JpcHRpb248L2tleT4KCQkJCTxzdHJpbmc+
			U01DX0dQVV9SYW5nZV9Db250cm9sX0xvb3A8L3N0cmluZz4KCQkJ
			CTxrZXk+R1BVQ29udHJvbEluZm9EaWN0PC9rZXk+CgkJCQk8ZGlj
			dD4KCQkJCQk8a2V5PkNJQTQ8L2tleT4KCQkJCQk8YXJyYXk+CgkJ
			CQkJCTxpbnRlZ2VyPjM8L2ludGVnZXI+CgkJCQkJCTxpbnRlZ2Vy
			PjE4PC9pbnRlZ2VyPgoJCQkJCQk8aW50ZWdlcj4wPC9pbnRlZ2Vy
			PgoJCQkJCTwvYXJyYXk+CgkJCQkJPGtleT5pTWFjMTAsMTwva2V5
			PgoJCQkJCTxzdHJpbmc+Q0lBNDwvc3RyaW5nPgoJCQkJPC9kaWN0
			PgoJCQkJPGtleT5JT0NsYXNzPC9rZXk+CgkJCQk8c3RyaW5nPkFD
			UElfU01DX0dQVV9DdHJsTG9vcDwvc3RyaW5nPgoJCQkJPGtleT5N
			ZXRhU3RhdGVBcnJheTwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxk
			aWN0PgoJCQkJCQk8a2V5PkRlc2NyaXB0aW9uPC9rZXk+CgkJCQkJ
			CTxzdHJpbmc+Tm9ybWFsPC9zdHJpbmc+CgkJCQkJPC9kaWN0PgoJ
			CQkJCTxkaWN0PgoJCQkJCQk8a2V5PkRlc2NyaXB0aW9uPC9rZXk+
			CgkJCQkJCTxzdHJpbmc+UmVkdWNlZCBQb3dlcjwvc3RyaW5nPgoJ
			CQkJCTwvZGljdD4KCQkJCQk8ZGljdD4KCQkJCQkJPGtleT5EZXNj
			cmlwdGlvbjwva2V5PgoJCQkJCQk8c3RyaW5nPlVzZXIgTG93IFBv
			d2VyPC9zdHJpbmc+CgkJCQkJPC9kaWN0PgoJCQkJCTxkaWN0PgoJ
			CQkJCQk8a2V5PkRlc2NyaXB0aW9uPC9rZXk+CgkJCQkJCTxzdHJp
			bmc+VXNlciBIaWdoIFBvd2VyPC9zdHJpbmc+CgkJCQkJPC9kaWN0
			PgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+UExpbWl0Q2xhc3M8L2tl
			eT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPkdQVTwvc3RyaW5n
			PgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+Y3RybGxvb3AtaWQ8L2tl
			eT4KCQkJCTxpbnRlZ2VyPjM8L2ludGVnZXI+CgkJCTwvZGljdD4K
			CQk8L2FycmF5PgoJPC9kaWN0Pgo8L2RpY3Q+CjwvcGxpc3Q+Cg==
			</data>
		</dict>
		<key>SSD TRIM Enabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAHCIBlockStorage</string>
			<key>Force Data Set Management</key>
			<true/>
			<key>IOClass</key>
			<string>AppleAHCIDiskDriver</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOAHCIDevice</string>
		</dict>
		<key>iMac10,1-UsbPower</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>AppleBusPowerController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>1000</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>3000</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>1500</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>3700</integer>
			</dict>
			<key>model</key>
			<string>iMac10,1</string>
		</dict>
		<key>iMac10,1-EHC1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>EHC1</string>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>BgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac10,1</string>
		</dict>
		<key>iMac10,1-EHC2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>EHC2</string>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>BAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac10,1</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Mr.Dee</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
