<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixRegions</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>SERFRg==</data>
					<key>Replace</key>
					<data>QVpBTA==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>Rename HDEF to AZAL</string>
				</dict>
			</array>
			<key>Name</key>
			<string>DSDT.aml</string>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>____</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>APIC</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>ASF!</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>BOOT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>HPET</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SLIC</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>TCPA</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>st_ex</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu1Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
		</array>
		<key>PatchAPIC</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>C3Latency</key>
			<string>0</string>
			<key>EnableC2</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>EnableC6</key>
			<false/>
			<key>UseSystemIO</key>
			<false/>
			<key>Generate</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<true/>
		<key>smartUPS</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-no_compat_check</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<false/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<true/>
		<key>StrictHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>-1</integer>
		<key>XMPDetection</key>
		<string>-1</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject HDA properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>alc-layout-id</string>
						<key>Value</key>
						<data>CwAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>TgAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>platformFamily</string>
						<key>Value</key>
						<data>AA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>PinConfigurations</string>
						<key>Value</key>
						<data></data>
					</dict>
					<dict>
						<key>Key</key>
						<string>MaximumBootBeepVolume</string>
						<key>Value</key>
						<data>TQ==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1B:00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject LAN properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>built-in</string>
						<key>Value</key>
						<data>AA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>ethernet</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>ethernet</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:19:00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AHCI Controller</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>oAAAAA==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1F.02</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>LPC</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>oAAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>FikAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>pci8086,2916</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>pci8086,2916</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,2916</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1F.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>EHCI #1</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>oAAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>NigAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>pci8086,2836</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>pci8086,2836</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,2836</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1D.07</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>EHCI #2</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>oAAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>OigAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>pci8086,283a</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>pci8086,283a</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,283a</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1A.07</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>UHCI #1</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>oAAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>NDoAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>pci8086,3a34</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>pci8086,3a34</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,3a34</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1D.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>UHCI #2</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>oAAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>NToAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>pci8086,3a35</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>pci8086,3a35</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,3a35</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1D.01</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>UHCI #3</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>oAAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>NjoAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>pci8086,3a36</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>pci8086,3a36</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,3a36</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1D.02</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>UHCI #4</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>oAAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>NzoAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>pci8086,3a37</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>pci8086,3a37</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,3a37</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1A.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>UHCI #5</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>oAAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>ODoAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>pci8086,3a38</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>pci8086,3a38</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,3a38</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1A.01</string>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Hidden</key>
					<true/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
			</array>
		</dict>
		<key>CustomIcons</key>
		<true/>
		<key>Hide</key>
		<array>
			<string>BOOTX64.EFI</string>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<true/>
		<key>PatchVBios</key>
		<true/>
		<key>NvidiaGeneric</key>
		<true/>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>TRIM function for non-Apple SSDs</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>QVBQTEUgU1NEAA==</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ICHx fix</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>QGACAA==</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename ICH8 to ICH9</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QXBwbGVJQ0g4QUhDSQ==</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>QXBwbGVJQ0g5QUhDSQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix AGPM</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QUNQSV9TTUNfR1BVX0N0cmxMb29w</data>
				<key>Name</key>
				<string>ACPI_SMC_PlatformPlugin</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAAAAAAAAAAAAAAA</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict/>
	<key>SMBIOS</key>
	<dict>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>YES</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
