<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18D42</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FakeSMC</string>
	<key>CFBundleIdentifier</key>
	<string>org.netkas.driver.FakeSMC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakeSMC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.11-474-g55059940.1802</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1802</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B61</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18B71</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>FakeSMC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>Configuration</key>
			<dict>
				<key>Clover</key>
				<dict>
					<key>EPCI</key>
					<array>
						<string>EPCI</string>
						<string>ui32</string>
					</array>
				</dict>
				<key>ExceptionKeys</key>
				<dict>
					<key>CLKH</key>
					<integer>1</integer>
					<key>CLKT</key>
					<integer>1</integer>
					<key>MSDW</key>
					<integer>1</integer>
					<key>NATJ</key>
					<integer>1</integer>
					<key>NATi</key>
					<integer>1</integer>
					<key>NTOK</key>
					<integer>1</integer>
				</dict>
				<key>Keys</key>
				<dict>
					<key>$Adr</key>
					<array>
						<string>ui32</string>
						<data>
						AAADAA==
						</data>
					</array>
					<key>$Num</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>ALRV</key>
					<array>
						<string>ui16</string>
						<data>
						AAA=
						</data>
					</array>
					<key>BATP</key>
					<array>
						<string>flag</string>
						<data>
						AA==
						</data>
					</array>
					<key>BEMB</key>
					<array>
						<string>flag</string>
						<data>
						AA==
						</data>
					</array>
					<key>BNum</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>BSIn</key>
					<array>
						<string>ui8</string>
						<data>
						Qg==
						</data>
					</array>
					<key>CLK!</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>CLKC</key>
					<array>
						<string>{clc</string>
						<data>
						AAAOEAAADhAmZg==
						</data>
					</array>
					<key>CLKH</key>
					<array>
						<string>{clh</string>
						<data>
						AABwgAABGUA=
						</data>
					</array>
					<key>CLKS</key>
					<array>
						<string>fp1f</string>
						<data>
						JmY=
						</data>
					</array>
					<key>CLKT</key>
					<array>
						<string>ui32</string>
						<data>
						AAAAAA==
						</data>
					</array>
					<key>CLSD</key>
					<array>
						<string>ui16</string>
						<data>
						AAA=
						</data>
					</array>
					<key>CLWK</key>
					<array>
						<string>ui16</string>
						<data>
						AAA=
						</data>
					</array>
					<key>DPLM</key>
					<array>
						<string>{lim</string>
						<data>
						AAAA
						</data>
					</array>
					<key>DUSR</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>F0ID</key>
					<array>
						<string>{fds</string>
						<data>
						AQIBAElOVEFLRSAAAAAAAA==
						</data>
					</array>
					<key>FNum</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>HBKP</key>
					<array>
						<string>ch8*</string>
						<data>
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAA=
						</data>
					</array>
					<key>LDKN</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>LDSP</key>
					<array>
						<string>flag</string>
						<data>
						AA==
						</data>
					</array>
					<key>LS!</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>LSCF</key>
					<array>
						<string>{lsc</string>
						<data>
						AGQBkIAAAQIABg==
						</data>
					</array>
					<key>LSDD</key>
					<array>
						<string>{lsd</string>
						<data>
						AAIAAwADABk=
						</data>
					</array>
					<key>LSDU</key>
					<array>
						<string>{lsd</string>
						<data>
						AAMAAgAUAAM=
						</data>
					</array>
					<key>LSFD</key>
					<array>
						<string>{lsd</string>
						<data>
						AAAABAAe
						</data>
					</array>
					<key>LSFU</key>
					<array>
						<string>{lsf</string>
						<data>
						F3AABwA8
						</data>
					</array>
					<key>LSLB</key>
					<array>
						<string>{pwm</string>
						<data>
						//8=
						</data>
					</array>
					<key>LSLF</key>
					<array>
						<string>{pwm</string>
						<data>
						AAA=
						</data>
					</array>
					<key>LSLN</key>
					<array>
						<string>{pwm</string>
						<data>
						nEA=
						</data>
					</array>
					<key>LSOF</key>
					<array>
						<string>flag</string>
						<data>
						AA==
						</data>
					</array>
					<key>LSOO</key>
					<array>
						<string>flag</string>
						<data>
						AA==
						</data>
					</array>
					<key>LSPV</key>
					<array>
						<string>{pwm</string>
						<data>
						LuA=
						</data>
					</array>
					<key>LSRB</key>
					<array>
						<string>flag</string>
						<data>
						AA==
						</data>
					</array>
					<key>LSSB</key>
					<array>
						<string>{lso</string>
						<data>
						AAA=
						</data>
					</array>
					<key>LSSE</key>
					<array>
						<string>flag</string>
						<data>
						AQ==
						</data>
					</array>
					<key>LSSS</key>
					<array>
						<string>{lso</string>
						<data>
						AAA=
						</data>
					</array>
					<key>LSSV</key>
					<array>
						<string>ui16</string>
						<data>
						//8=
						</data>
					</array>
					<key>LSUP</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>LsNM</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSAc</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSDW</key>
					<array>
						<string>flag</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSFW</key>
					<array>
						<string>flag</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSLD</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSPC</key>
					<array>
						<string>ui8</string>
						<data>
						Aw==
						</data>
					</array>
					<key>MSPP</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSPS</key>
					<array>
						<string>hex_</string>
						<data>
						AAQ=
						</data>
					</array>
					<key>MSQC</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSSD</key>
					<array>
						<string>si8</string>
						<data>
						BQ==
						</data>
					</array>
					<key>MSSP</key>
					<array>
						<string>si8</string>
						<data>
						BQ==
						</data>
					</array>
					<key>MSSW</key>
					<array>
						<string>flag</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSTc</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSTg</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSTm</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSWR</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSWr</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>NATJ</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>NATi</key>
					<array>
						<string>ui16</string>
						<data>
						AAA=
						</data>
					</array>
					<key>NTOK</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>OSK0</key>
					<array>
						<string>ch8*</string>
						<data>
						b3VyaGFyZHdvcmtieXRoZXNld29y
						ZHNndWFyZGVkcGw=
						</data>
					</array>
					<key>OSK1</key>
					<array>
						<string>ch8*</string>
						<data>
						ZWFzZWRvbnRzdGVhbChjKUFwcGxl
						Q29tcHV0ZXJJbmM=
						</data>
					</array>
					<key>OSWD</key>
					<array>
						<string>ui16</string>
						<data>
						AAA=
						</data>
					</array>
					<key>RAID</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>RBr</key>
					<array>
						<string>ch8*</string>
						<data>
						azUAAAAAAAA=
						</data>
					</array>
					<key>REV </key>
					<array>
						<string>{rev</string>
						<data>
						ATkPAAAR
						</data>
					</array>
					<key>RGEN</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>RMde</key>
					<array>
						<string>char</string>
						<data>
						QQ==
						</data>
					</array>
					<key>RPlt</key>
					<array>
						<string>ch8*</string>
						<data>
						azUAAAAAAAA=
						</data>
					</array>
					<key>RVBF</key>
					<array>
						<string>{rev</string>
						<data>
						ATkPAAAR
						</data>
					</array>
					<key>RVUF</key>
					<array>
						<string>{rev</string>
						<data>
						ATkPAAAR
						</data>
					</array>
					<key>WKTP</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
				</dict>
				<key>Types</key>
				<dict>
					<key>CLKC</key>
					<string>{clc</string>
					<key>CLKH</key>
					<string>{clh</string>
					<key>CLKT</key>
					<string>ui32</string>
					<key>CLWK</key>
					<string>ui32</string>
					<key>DPLM</key>
					<string>{lim</string>
					<key>EPCI</key>
					<string>flag</string>
					<key>LSSS</key>
					<string>{lso</string>
					<key>MSDS</key>
					<string>ui8</string>
					<key>MSDW</key>
					<string>flag</string>
					<key>MSPS</key>
					<string>{msp</string>
					<key>RPlt</key>
					<string>ch8*</string>
				</dict>
				<key>debug</key>
				<false/>
				<key>smc-compatible</key>
				<string>smc-thurley</string>
				<key>trace</key>
				<false/>
			</dict>
			<key>IOClass</key>
			<string>FakeSMC</string>
			<key>IOMatchCategory</key>
			<string>FakeSMC</string>
			<key>IOProviderClass</key>
			<string>AppleACPIPlatformExpert</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
			<key>RM,Build</key>
			<string>Release-</string>
			<key>RM,Version</key>
			<string>FakeSMC 1802</string>
		</dict>
		<key>FakeSMCKeyStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>IOClass</key>
			<string>FakeSMCKeyStore</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCKeyStore</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>FakeSMCKeyStoreUserClient</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 netkas. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1429</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.6</string>
		<key>com.apple.kpi.mach</key>
		<string>10.6</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.6</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>Source Code</key>
	<string>"https://github.com/RehabMan/OS-X-FakeSMC-kozlek.git"</string>
</dict>
</plist>
