<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.denskop.MojaveInjector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MojaveInjector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>iMac13,2-UsbPower</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>AppleBusPowerController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>1000</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>3000</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>1500</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>3700</integer>
			</dict>
			<key>model</key>
			<string>iMac13,2</string>
		</dict>
		<key>iMac13,2-EHC1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>EHC1</string>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>BgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac13,2</string>
		</dict>
		<key>iMac13,2-EHC2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>EHC2</string>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>BAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac13,2</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Mr.Dee</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
